body{
    margin-top: 0%;
}
body{
    margin: 0%;
    padding: 0%;
}
.page1{
    background-image:url('images/mainbg.avif');
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}
.navbar{
    height:10vh;
    display: flex;
    /* background-color: aqua; */

}
.navlogo{
    /* background-color: green; */
    margin-top: auto;
    font-size: 20px;
    margin-left: 150px;
    font-weight: 700;
    color:red;
}

.navitems{
    /* background-color: red; */
    float: right;
    margin-left: 700px;
    font-size: 20px;
}
.navitems ul{
    margin-top: 10px;
    /* margin-left: 1000px; */
}
.navitems ul li{
    margin: 20px;
    font-weight: 600;
}

.navitems ul{
    list-style: none;
    display: flex;
}

.mainContent{
    /* display: flex; */
    /* color:white; */
}
.leftcol{
    /* background-color: blueviolet; */
    width: 50%;
    height:90vh;
}
.mainpageinfo{
    margin-top: 100px;
    margin-left: 100px;
    text-align: center;
    /* background-color: rgb(46, 44, 44); */
    border-radius: 20px;
    padding: 20px;
}
.mainpageinfo h3{
    font-size: 50px;
}
.mainpageinfo p{
    font-size: 20px;
    margin-top: -20px;
}
.mainpageinfo button{
    background-color: rgb(248, 55, 55);
    border: 1px solid red;
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 20px;
    color:white;
    font-weight: 400;
    
}
.page2{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: antiquewhite;
    height:100vh;
}

.page2header{
    text-align: center;
}

.cardHolder{
    background-color:rgb(249, 203, 134);
    text-align: center;
    
}

.cardRow1{
    margin: 30px 70px 10px 70px;
    display: flex;
    justify-content: space-around;
    background-color: blueviolet;
    /* margin-top: 5vh; */
}

.cardRow2{
    margin: 20px 70px 10px 70px;
    display: flex;
    justify-content: space-around;
    background-color:blue;
    /* margin-top: 5vh; */
}


.card{
    background-color: white;
    border: 1px solid black;
    height: 35vh;
    width: 30vh;
}
.innerCard{
    background-color: aqua;
    border: 1px solid black;
    height: 35vh;
    width: 30vh;
    border-radius: 50% 50% 10% 10%  ;
}


