body{
    margin-top: 0%;
    margin-bottom: 0%;
}
body{
    margin: 0%;
    padding: 0%;
}
.page1{
    background-image:url('images/mainbg.avif');
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}
.navbar{
    height:10vh;
    display: flex;
    /* background-color: aqua; */

}
.navlogo{
    /* background-color: green; */
    margin-top: auto;
    font-size: 20px;
    margin-left: 150px;
    font-weight: 700;
    color:red;
}

.navitems{
    /* background-color: red; */
    float: right;
    margin-left: 700px;
    font-size: 20px;
}
.navitems ul{
    margin-top: 10px;
    /* margin-left: 1000px; */
}
.navitems ul li{
    margin: 20px;
    font-weight: 600;
}

.navitems ul{
    list-style: none;
    display: flex;
}

.mainContent{
    /* display: flex; */
    /* color:white; */
}
.leftcol{
    /* background-color: blueviolet; */
    width: 50%;
    height:90vh;
}
.mainpageinfo{
    margin-top: 100px;
    margin-left: 100px;
    text-align: center;
    /* background-color: rgb(46, 44, 44); */
    border-radius: 20px;
    padding: 20px;
}
.mainpageinfo h3{
    font-size: 50px;
}
.mainpageinfo p{
    font-size: 20px;
}
.mainpageinfo button{
    background-color: rgb(248, 55, 55);
    border: 1px solid red;
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 20px;
    color:white;
    font-weight: 400;
    
}
.page2{
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* background-color: antiquewhite; */
    height:110vh;
}

.page2header{
    text-align: center;
    /* margin-top: 5vh; */
    /* padding-top: 5vh;     */
}

.cardHolder{
    /* background-color:rgb(249, 203, 134); */
    text-align: center;
    
}

.cardRow1{
    margin: 30px 100px 10px 100px;
    display: flex;
    justify-content: space-around;
    /* background-color: blueviolet; */
    /* margin-top: 5vh; */
}

.cardRow2{
    margin: 10px 100px 10px 100px;
    display: flex;
    justify-content: space-around;
    /* background-color:blue; */
    /* margin-top: 5vh; */
}


.card{
    background-color: white;
    border: 2px solid rgb(231, 227, 227);
    height: 40.5vh;
    width: 30.5vh;
    border-radius: 5px;
    /* box-shadow: 2px 2px 2px 2px; */
}
.innerCard{
    /* background-color: aqua; */
    border: 2px solid rgb(255, 204, 0);
    /* background-color: rgb(233, 174, 66); */
    background-image: radial-gradient(rgb(255, 132, 0), rgb(255, 204, 0));
    height: 40vh;
    margin: auto;
    width: 30vh;
    border-radius: 50% 50% 5% 5%  ;
}
.cardImage{
    justify-content: center;
    align-items: center;
    align-content: center;
}
.cardImage img{
    width: 32vh;
    height: 13vh;
    position: static;
    margin-top: 20px;
    margin-left: -1.5vh;

}
.innerCard h1{

}


.checked {
    color: red;
}
.submitBtn{
    background-color: tomato;
    color: red;
    position: inherit;
}

.footer{
    display: flex;
    background-color: tomato;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    width: 100%;
    margin-top: 50px;
    position: absolute;
}
